<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sylvio's Foodie Truck </title>
</head>
<body>
    <h1>Sylvio's Foodie Truck</h1>
    <h2>Bringing the vibes to you</h2>
    <ul>
        <li><a href='/menu'>Menu</a></li>
    </ul>

    {% block page_content %}
    {% endblock %}
    
</body>
</html>