<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sylvio's Foodie Truck </title>
</head>
<body>
    <h1>Sylvio's Foodie Truck</h1>
    <h2>Bringing the vibes to you</h2>

    {% if name %}
        <h2> Hi {{ name }} </h2>
    {% else %}  
        <a href='/login'>take me to login</a>
    {% endif %}

    <ul>
        <li><a href='/menu'>Menu</a></li>
        <li><a href='/add_food'>Add Item</a></li>
        <li><a href={{'/logout' if name else '/login'}}> {{'Logout' if name else 'Login'}} </a></li>

    </ul>

    {% block page_content %}
    {% endblock %}
    
</body>
</html>