{% extends "base.jinja" %}
{% block page_content %}
<h1> MENU </h1>


    {% for food in food_items %}
        <a href=/show_food?id={{food.id}}><h3> {{ food.name }} {{ food.price }} </h3></a>
    {% endfor %}


    {% if name %}
        <form action='/add_review' method='post'>
            <label for="review">Add your review:</label><br>
            <input type="text" id="review" name="review"><br>
            <input type='submit' value="Add items">
        </form> 
        
    {% endif %}

    <h2>REVIEWS</h2>

    {% for review in user_reviews %}
        <p>{{ review.content }}</p>
        <p>{{ review.rating }} stars </p>
        <p>{{ review.user_name }} </p>
    {% endfor %}


{% endblock%}